appdirs==1.4.3
Django==1.9.12
django-cors-headers==2.0.2
django-extensions==1.7.8
django-geojson==2.10.0
django-leaflet==0.22.0
djangorestframework==3.6.2
djangorestframework-gis==0.11
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.12.1
oauthlib==2.0.2
packaging==16.8
pandas==0.19.2
psycopg2==2.7.1
pyparsing==2.2.0
pyproj==1.9.5.1
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
shapely==1.6b4
six==1.10.0
